<section class="inner-map-area fix market-sec-margin">
    <div class="container">
    	<div class="row details-img-row">
    		<div class="col-sm-11 m-auto">
    			<div class="row">
    				<div class="col-sm-8">
		    			<div class="big-img">
		    				<!-- <img src="/frontassets/images/banner4.jpg"> -->
							<% images.forEach(function(image,index){%> 
                                  
								  <% if(image.type[0]=='video'){%>
									  
									<video id="myVideo" width="100%" height="380" controls="false" loop autoplay muted>
										<source src="/uploadFile/<%=image.name %>" type="video/<%=image.type[1] %>">
									</video>
									
								  <%}%>
								  
								<%}) %>
		    				
		    			</div>

		    		</div>
		    		<div class="col-sm-4">
		    			<div class="right-side-details">
		    				 <h2 class="text-left"><%=land.name %></h2>
			    			 <h6>Current price</h6>
			    			 <h3><img src="/frontassets/images/bnb.png"><%=land.price %> BNB<span></span></h3>
			    			 <div>
			    			 	<a class="orange-btn buynow" value="<%=land._id %>" href="javascript::void(0)">Buy Now</a>
			    			 </div>
			    			 <div>
			    			 	<!-- <div class="dropdown">
								  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								     <img src="/frontassets/images/chart.png"> Price History
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <p>
								    	<%=land.content %>
								    </p>
								  </div>
								</div>
								<div class="dropdown">
								  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								     <img src="/frontassets/images/passage-of-time.png"> Trading History
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <p>
								    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
								    </p>
								  </div>
								</div> -->
			    			 </div>
		    			</div>
		    		</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="right-side-details for-disc-box">
		    				 <h2 class="text-left">Description</h2>
			    			 <p><%=land.content %></p>
			    			 <div>
			    			 	<div class="dropdown">
								  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								     <img src="/frontassets/images/info.png"> Details
								  </button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								    <p>
								        <%=land.content %>
								    </p>
								  </div>
								</div>
								
			    			 </div>
			    			 <h2 class="text-left mt-5">Similar</h2>
			    			 <div class="row">
				                	<div class="col-sm-3">
				                		<a href="">
				                			<div class="lands-box">
				                			 <div class="heading-box">
				                			 	<h5>LARGE <small>A 10x10 map</small></h5>
				                			 	<h5>20 BNB</h5>
				                			 </div>
				                			 <img src="/frontassets/images/banner2.jpg">
				                			 <div class="text-center">
				                			 	<a href=""  class="orange-btn">Buy Now</a>
				                			 </div>
				                		</div>
				                		</a>
				                	</div>
				                	<div class="col-sm-3">
				                		<a href="">
				                			<div class="lands-box">
				                			 <div class="heading-box">
				                			 	<h5>LARGE <small>A 10x10 map</small></h5>
				                			 	<h5>20 BNB</h5>
				                			 </div>
				                			 <img src="/frontassets/images/banner2.jpg">
				                			 <div class="text-center">
				                			 	<a href="" class="orange-btn">Buy Now</a>
				                			 </div>
				                		</div>
				                		</a>
				                	</div>
				                	
				                </div>
		    			</div>
    				</div>
    			</div>
    		</div>
    	</div>
     
    </div>
</section>
 


 <!-- Modal -->
<div class="modal fade login-modal-box" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body login-modal-box">
        <h5 class="modal-title text-center">Connect Wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="login-type-box">
        	<a href="#" onClick="checkUser()">
        		<img src="/frontassets/images/connect1.png">
        		<h5>Metamask</h5>
        	</a>
        	<a href="#" onclick="onLogin()">
        		<img src="/frontassets/images/connect2.png">
        		<h5>Trust</h5>
        	</a>
        	<a href="#" onclick="onLogin()">
        		<img src="/frontassets/images/connect3.png">
        		<h5>Safepal</h5>
        	</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
	var x = document.getElementById("myVideo");
     x.controls = false;
     x.load();
 
</script>
