<style>
    video::-webkit-media-controls-start-playback-button {
   display: none;
}
video {
 pointer-events: none;
}
video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {   display: none !important; }
</style>
<section class="inner-map-area fix market-sec-margin">
   <div class="container">
       <div class="row align-items-center">
           <div class="col-sm-9 m-auto">
             <h2 class="blue-heading">Buy Property</h2>
               <div class="row">
                  <%if(datas.length>0){%>
                     <%datas.forEach(function(land){%>
                   <div class="col-sm-6">
                       <a href="/detail?id=<%=land._id%>">
                           <div class="lands-box">
                            <div class="heading-box">
                                <h5><%=land.name%> <small>A <%=land.size%> map</small></h5>
                                <h5><%=land.price%> BNB</h5>
                            </div>
                            <img src="/uploadFile/<%=land.imageInfo.name%>"  height="200" onerror="this.onerror=null;this.src='/frontassets/images/market/apartment.png';">
                            <!-- <img src="/frontassets/images/market/apartment.png" > -->
                            <div class="text-center">
                                <a href="javascript:void(0)" value="<%=land._id%>"  class="buynow orange-btn">Buy Now </a>
                            </div>
                       </div>
                       </a>
                   </div>
                   <%});%>
                   <%}else{%>
                     <div class="col-sm-6"></div>
                     <%}%>
                      
                   
               </div>
           </div>
       </div>
   </div>
</section>
