	<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
          <div class="container-fluid">
              <div class="row page-titles mx-0">
                  <div class="col-sm-6 p-md-0">
                      <div class="welcome-text">
                          <h4>Hi, welcome back!</h4>

                          <span>Admin</span>

                      </div>
                  </div>
                 
              </div>
              <!-- row -->


              <div class="row">
                 
        <div class="col-12">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="card-title">Transaction List</h4>
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                               
                                  <table id="example3" class="display" style="min-width: 845px">
                                      <thead>
                                          <tr>
                                              <th>S/No</th>
                                              <th width="20%">Amount</th>
                                              <th width="30%">Payment hash</th>
                                              <th width="30%"> From Address</th>
                                              <th width="30%"> To Address</th>

                                              <th width="20%">Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                       <% orders.forEach(function(order,index){%>

                                        <tr>
                                            <td><%=index+1 %></td>
                                            
                                            <td><%=order.total %></td>
                                            <td >
                                                <div class="transaction-data">
                                                  <a id="hash" href="https://testnet.bscscan.com/tx/<%=order.hash %>" target="_blank">
                                                    <%=order.hash %>
                                                </a>
                                                </div>
                                               
                                            
                                            </td>
                                            <td >
                                                <div class="transaction-data">
                                                  <a href="https://testnet.bscscan.com/address/<%=order.wallet_address %>" target="_blank">
                                                    <%=order.wallet_address %> 
                                                </a>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="transaction-data">
                                                    
                                                    <a href="https://testnet.bscscan.com/address/<%=order.address_to %>" target="_blank">
                                                        <%=order.address_to %>
                                                      </a>
                                                </div>
                                               
                                            </td>
                                            <td><span class="badge badge-warning">Success</span></td>
                                        </tr>

                                       <% })    %>
                                          
                                         
                                     
                                         
                                         
                                        
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
        
      </div>
          </div>
      </div>
      <!--**********************************
          Content body end
      ***********************************-->
      <style>
     a#hash {
    color: #b30606;
    max-width: 200 px !important;
    overflow: hidden;
    display: inline-block;
    width: 315px !important;
}

a#hash {
    color: #b30606;
    max-width: 200 px !important;
    overflow: hidden;
    display: inline-block;
    width:300px !important;
}
td .transaction-data {
    max-width: 220px;
    overflow: hidden;
    display: block;
    word-break: break-word;
    white-space: nowrap;
}
      </style>