<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span>Add New Land</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Land List</a></li>
                    <li class="breadcrumb-item active">Add New Land</li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add New Land</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form id="landUpdateForm" method="post" action="/users/update-land"  enctype="multipart/form-data">
                                <label>Select Land Image</label>
                                 <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file"  name="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                        
                                    </div>
                                    
                                </div>
                                <label>Select Land Video</label>
                                 <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input">
                                        <label class="custom-file-label">Choose file</label>
                                        
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label>Plot name</label>
                                    <input type="text" name="name" class="form-control input-default " placeholder="" value="<%=land.name%>">
                                </div>
                                 <div class="form-group">
                                    <label>Number of plots</label>
                                    <input type="text" name="quantity" class="form-control input-default " placeholder="" value="<%=land.quantity%>">
                                </div>
                                 <div class="form-group">
                                    <label>Plot Size</label>
                                    <input type="text" name="size" class="form-control input-default " placeholder="" value="<%=land.size%>">
                                </div>
                                 <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" name="price" class="form-control input-default " placeholder="" value="<%=land.price%>">
                                </div>
                                 <div class="form-group">
                                     <label>Content</label>
                                    <textarea class="form-control" rows="4" id="comment" name="content"><%-land.content%></textarea>
                                </div>
                                <input type="hidden" name="id" value="<%=land._id%>">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>