<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>

                    <span>Admin</span>
   
                </div>
            </div>
            <div class="col-sm-6 p-md-0 text-right">
                <a href="/users/add-land" type="submit" class="btn btn-primary">Add New Land</a>
            </div>
        </div>
        <!-- row -->


        <div class="row">
           
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Lands List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th width="10%">Lands Image</th>
                                        <th width="10%">Video</th>
                                        <th width="10%">Plot name</th>
                                        <th width="5%">Number of plots</th>
                                        <th width="10%">Plot Size</th>
                                        <th width="10%">Price</th>
                                        <th width="35%">Description</th>
                                        
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% landData.forEach(function(land,index){%>
                                        
                                       
                                    <tr>
                                        <td><img  width="35" src="/uploadFile/<%=land.image%>" alt="" ></td>
                                        <td>
                                           
                                            <video width="100" height="50" controls>
    
                                                 <source src="/uploadFile/<%=land.video%>" /">
                                    
                                              </video>
                                        </td>
                                        <td><%=land.name %></td>
                                        <td><%=land.quantity %></td>
                                        <td><%=land.size %></td>
                                        <td><%=land.price %></td>
                                        <td><%=land.content %></td>
                                        
                                        <td>
                                            <div class="d-flex">
                                                <a href="/users/edit-land?id=<%=land._id%>" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                <a href="/users/delete-land?id=<%=land._id%>" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                            </div>												
                                        </td>												
                                    </tr>
                                 <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>